body {
    background-color: greenyellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {


}

@media (max-width: 782px){
header {
}
}

main {

    background-color: greenyellow;
   
}
@media (max-width: 782px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}


.menu {
    height: 8vh;
}

.menulist {
    display: flex;
    list-style: none;

}

.item-list {
    text-decoration: none;
    color: black;
}
@media (max-width: 782px) {
.item-list{
    font-size: 1rem;
}
}
#a-crise-climatica {

}
@media (max-width: 782px) {
#a-crise-climatica {
    justify-content: center;

}
}
#desmatamento {

}

#degelo {

}

#aquecimento-global {

}

#ativismo {

}

#title {

}

.title-one {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
@media (max-width: 782px) {
    .title-one{
        background-color: white;
        color:  greenyellow;
        width: 116%;

    }
}
.text-primeira {

}
@media (max-width: 782px) {
.text-primeira{
    text-align: center;
}
}
.imagens {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30%;
    justify-content: space-around;
}
@media (max-width: 782px) {
    .imagens {
        display: flex;
        width: 116%;
    }
}

.foto {
    width: 30vw;
    height: 30vh;
    display: flex;
    
}
@media (max-width: 782px) {
.foto{
    border-radius: 100%;
    width: 56vw;
}
}
 
.textodecaixa {

}